.services {
  background: rgb(246, 245, 248);
  padding: 4rem 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.services .heading {
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: none;
}

.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.services .box-container .box {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  border-radius: .5rem;
  padding: 1rem;
  /* text-align: center; */
}

.services .box-container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: var(--orange);
}

.services .box-container .box h3 {
  font-size: 1.8rem;
  color: #333;
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  text-transform: none;
}
/* 
.services .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
} */